@font-face {
    font-family: Lato; 
    src: url(assets/fonts/Lato-Regular.ttf), 
	src: url(assets/fonts/Lato-Bold.ttf); 
   }
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
body{
	font-family: 'Lato', sans-serif;
}
.content{
	width: 100%;
	max-width: 1020px;
	margin: 0 auto;
}
.wrapper{
  
}
.wrapper-header{
	background: #2d303a;
}
.wrapper-header:after{
	content: '';
	width: 100%;
	max-width: 1020px;
	display: block;
	height: 5px;
	background: #323746;
}
.header{
	display: flex;
	justify-content: space-between;
	height: 90px;
    align-items: center;
	padding: 0 40px;
}
.logo{
	
}
.logo__text{
	font-size: 25px;
	color: #ffffff;
	font-family: "Lato";
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
}
.logo__text-color{
	color: #f06c64;
	display: inline-block;
    margin-left: -5px;
}
.navigation-header{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	line-height: 30px
}
.navigation-header__item {
	font-size: 12px;
	color: #ffffff;
	font-family: "Lato";
	font-weight: 400;
	text-transform: uppercase;
	padding-top: 10px;
	padding-right: 13px;
}
.navigation-header__item:after{
	content: '\00B7';
	display: inline-block;
	color: #323746;
	padding-left: 13px;
}
.navigation-header__item:last-child:after{
	content: '';
	padding-left: 0;
}
.navigation-header__item:last-child{
	padding-right: 0;
}
.navigation-header__item a{
	text-decoration: none;
	color: #ffffff;
}
.navigation-header__item a:hover{
	color: #f06c64;
}
.navigation-header__item-active a{
	color: #f06c64;
}

/*slider*/
.wrapper-slider{
	background: #f06c64;
	position:relative;
}
.wrapper-slider:after{
	content: '';
	display: block;
	width:100%;
	max-width: 1020px;
	height: 15px;
	background-color: #ea676b;
}
.slider{
	display:flex;
	justify-content:space-between;
	padding-bottom: 70px;
}
.slider__phone-vertical-wrap{
	
}
.slider__phone-vertical{
	position: relative;
    margin-top: 55px;
    margin-left: 110px;
}
.slider__phone-vertical-base{
	width: 218px;
	height: 461px;
	background: url(assets/img/phone-vertical-base.png)no-repeat;
	border-radius: 30px;
	box-shadow: 25px 25px 1px rgba(0,0,0,0.2);
}
.slider__phone-vertical-screen{
	background: url(assets/img/phone-vertical-screen.png);
	background-position: 4% 55%;
}
.slider__phone-horizontal-wrap{
	position:relative;
}
.slider__phone-horizontal{
	position: relative;
    margin-top: 53px;
    margin-right: 258px;
}
.slider__phone-horizontal-base{
	width: 218px;
	height: 461px;
	background: url(assets/img/phone-vertical-base.png)no-repeat;
	transform: rotate(90deg);
	border-radius: 30px;
	box-shadow: 25px -25px 1px rgba(0,0,0,0.2);
}
.slider__phone-horizontal-screen{
	background: url(assets/img/phone-horizontal-screen.png);
	background-position: 31% 48%;
}
.slider-screen{
	width: 190px;
	height: 335px;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: auto;
	border: 3px solid #c6c6c6;
	border-radius: 5px;
}
.arrow-left{
	width: 16px;
	height: 27px;
	position:absolute;
	top: calc(50% - 19px);
	left: 40px;
	background: url(assets/img/arrow-left.png);
	cursor: pointer;
}
.arrow-right{
	width: 16px;
	height: 27px;
	position:absolute;
	top: calc(50% - 19px);
	right: 40px;
	background: url(assets/img/arrow-right.png);
	cursor: pointer;
}