@font-face {
    font-family: Lato; 
    src: url(assets/fonts/Lato-Regular.ttf), 
	src: url(assets/fonts/Lato-Bold.ttf); 
   }
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
body{
	font-family: 'Lato', sans-serif;
}
.content{
	width: 100%;
	max-width: 1020px;
	margin: 0 auto;
}
.wrapper{
  
}
.wrapper-header{
	background: #2d303a;
}
.wrapper-header:after{
	content: '';
	width: 100%;
	max-width: 1020px;
	display: block;
	height: 5px;
	background: #323746;
}
.header{
	display: flex;
	justify-content: space-between;
	height: 90px;
    align-items: center;
	padding: 0 40px;
}
.logo{
	
}
.logo__text{
	font-size: 25px;
	color: #ffffff;
	font-family: "Lato";
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
}
.logo__text-color{
	color: #f06c64;
	display: inline-block;
    margin-left: -5px;
}
.navigation-header{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	line-height: 30px
}
.navigation-header__item {
	font-size: 12px;
	color: #ffffff;
	font-family: "Lato";
	font-weight: 400;
	text-transform: uppercase;
	padding-top: 10px;
	padding-right: 13px;
}
.navigation-header__item:after{
	content: '\00B7';
	display: inline-block;
	color: #323746;
	padding-left: 13px;
}
.navigation-header__item:last-child:after{
	content: '';
	padding-left: 0;
}
.navigation-header__item:last-child{
	padding-right: 0;
}
.navigation-header__item a{
	text-decoration: none;
	color: #ffffff;
}
.navigation-header__item-active a{
	color: #f06c64;
}