@font-face {
     font-family: Lato;
     src: url(assets/fonts/Lato/Lato-Regular.ttf), url(assets/fonts/Lato/Lato-Bold.ttf), url(assets/fonts/Lato/Lato-Black.ttf), url(assets/fonts/Lato/Lato-Light.ttf), url(assets/fonts/Lato/Lato-Thin.ttf);
}
 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
 html, body {
     margin: 0;
     padding: 0;
     height: 100%;
     font-size: 10px;
}
 body{
     font-family: 'Lato', sans-serif;
     font-size: 10px;
}
 ul{
     list-style-type: none;
}
 .content{
     width: 100%;
     max-width: 1020px;
     margin: 0 auto;
	 overflow: hidden;
}
 .wrapper{
     padding: 60px 40px;
}
 .header__wrapper{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 25px;
     padding-bottom: 25px;
}
 .header:after{
     content: '';
     width: 100%;
     max-width: 1020px;
     display: block;
     height: 5px;
     background: #323746;
}
 .header{
     background: #2d303a;
	 position:fixed;
	 z-index: 10;
	 width: 100%;
	 max-width: 1020px;
}
 .logo__text{
     font-size: 2.5rem;
     color: #ffffff;
     font-family: "Lato";
     font-weight: 700;
     text-transform: uppercase;
}
 .logo__text_color{
     color: #f06c64;
     display: inline-block;
     margin-left: -5px;
}
 .mobile{
	display: none;
}
 .navigation__items{
     list-style-type: none;
     display: flex;
     justify-content: space-between;
     line-height: 30px 
}
 .navigation__item {
     font-size: 1.2em;
     color: #ffffff;
     font-family: "Lato";
     font-weight: 400;
     text-transform: uppercase;
     padding-top: 10px;
     padding-right: 13px;
}
 .navigation__item:after{
     content: '\00B7';
     display: inline-block;
     color: #323746;
     padding-left: 12px;
}
 .navigation__item:last-child:after{
     content: '';
     padding-left: 0;
}
 .navigation__item:last-child{
     padding-right: 0;
}
 .navigation__item a{
     text-decoration: none;
     color: #ffffff;
}
 .navigation__item a:hover{
     color: #f06c64;
}
 .navigation__item_active a{
     color: #f06c64;
}
/*slider*/
 .slider{
     background: #f06c64;
     position: relative;
	 padding-top: 95px;
}
 .slider:after{
     content: '';
     display: block;
     width:100%;
     max-width: 1020px;
     height: 6px;
     background-color: #ea676b;
}
 .item-slider.active{
     display:flex;
     justify-content:space-between;
     position:relative;
     align-items: center;
}
.item-slider img{
	max-width: 100%;
}
 .item-slider{
  display: none;
  position: relative;
  animation: 0.5s ease-in-out;
  margin: 0 auto;
}

.next {
  display: flex;
}

.next {
  position: absolute;
  top: 155px;
  width: 100%;
}
.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}
.from-left {
  animation-name: left;
  animation-direction: reverse;
}
@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.slider__wrapper{
	padding-top: 53px;
	padding-bottom: 45px;
}

.item-slider{
	padding-left: 72px;
	padding-right: 71px;
}

 .slider__phone-vertical-wrap{
    width: calc(36% - 40px);
}
 .slider__phone-horizontal-wrap{
    width: calc(70% - 40px);
    text-align: right;
}
.slider-blue{
	background: #008df8;
}
.slider-blue:after{
	content: '';
    display: block;
    width: 100%;
    max-width: 1020px;
    height: 6px;
    background-color: #5679D5;
}
 
 .arrow-left{
     width: 16px;
     height: 27px;
     position:absolute;
     top: calc(50% - 19px);
     left: 40px;
     background: url(assets/img/slider/arrow-left.png);
     cursor: pointer;
}
 .arrow-right{
     width: 16px;
     height: 27px;
     position:absolute;
     top: calc(50% - 19px);
     right: 40px;
     background: url(assets/img/slider/arrow-right.png);
     cursor: pointer;
}
.arrow-left-blue{
	background: url(assets/img/slider/arrow-left-blue.svg);
}
.arrow-right-blue{
	background: url(assets/img/slider/arrow-right-blue.svg);
}
.phone-vertical, .phone-horizontal{
	display: none;
}
.phone-vertical-on, .phone-horizontal-on{
	display: block;
}

/*Services*/
 .services{
     background: #f2f2f2;
}
 .services__wrapper{
     padding-top: 60px;
     padding-bottom: 60px;
}
 .services:after{
     content: '';
     display: block;
     width: 100%;
     max-width: 1020px;
     height: 6px;
     background-color: #ffffff;
}
 .wrapper-text-services{
     margin-bottom: 25px;
}
 h2{
     font-size: 3rem;
     color: #666d89;
     font-family: "Lato";
     font-weight: 900;
     text-align: left;
     margin-bottom: 18px;
}
 .title-description{
     font-size: 1.8rem;
     font-family: "Lato";
     font-weight: 300;
     line-height: 30px;
     text-align: justify;
     word-spacing: -1px;
}
 .services__title{
     color: #767e9e;
}
 .layout-3-column{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}
 .layout-3-column >*{
	 flex-basis: 32%;
 }
 .services-item{
     display: flex;
     justify-content: space-between;
     margin-bottom: 8px;
}
 .services-item:nth-last-child(-n + 3){
     margin-bottom: 0;
}
 h3{
     font-size: 1.6rem;
     color: #666d89;
     font-family: "Lato";
     font-weight: 900;
     margin-bottom: 10px;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
}
 .services-item__text{
     padding: 20px 0 0 20px;
}
 .text-section{
     font-size: 1.2rem;
     font-family: "Lato";
     font-weight: 400;
     line-height: 22px;
     text-align: justify;
}
 .services__item{
     color: #767e9e;
     display: -webkit-box;
     -webkit-line-clamp: 3;
     -webkit-box-orient: vertical;
     overflow: hidden;
     text-overflow: ellipsis;
}
 .icon{
     border: 2px solid #666d89;
     border-radius: 50%;
     padding: 28px 28px;
     height: 60px;
     width: 60px;
     margin-top: 23px;
}
 svg{
     margin-top: 10px;
}
 .icon-services-pen{
     background: url(assets/img/services/pen.svg)no-repeat;
     background-position: 50%;
}
 .icon-services-bulb{
     background: url(assets/img/services/bulb.svg)no-repeat;
     background-position: 50%;
}
 .icon-services-heart{
     background: url(assets/img/services/heart.svg)no-repeat;
     background-position: 50%;
}
 .icon-services-phone{
     background: url(assets/img/services/phone.svg)no-repeat;
     background-position: 50%;
}
 .icon-services-bubble{
     background: url(assets/img/services/bubble.svg)no-repeat;
     background-position: 50%;
}
 .icon-services-star{
     background: url(assets/img/services/star.svg)no-repeat;
     background-position: 50%;
}
/*Portfolio*/
 .portfolio{
     background: #2d303a;
}
 .portfolio:after{
     content: '';
     display: block;
     width: 100%;
     max-width: 1020px;
     height: 6px;
     background-color: #323746;
}
 .wrapper-text-portfolio{
     margin-bottom: 20px;
}
 .portfolio__title{
     color: #767e9e;
     margin-bottom: 8px;
}
 .portfolio__tag{
     list-style-type: none;
     display: flex;
     justify-content: flex-start;
}
 .portfolio__tag li{
     border-radius: 5px;
     border: 1px solid #666d89;
     margin-right: 10px;
}
 .portfolio__tag li:last-child{
     margin-right: 0;
}
 .portfolio__tag a{
     font-size: 1.2rem;
     color: #767e9e;
     font-family: "Lato";
     font-weight: 400;
     text-align: left;
     line-height: 20px;
     text-decoration: none;
     padding: 6px;
}
 .portfolio__tag .tag__active{
     border: 1px solid #c5c5c5;
     border-radius: 5px;
}
 .tag__active a{
     color: #dedede;
}
 .tags a:hover{
     color: #dedede;
}
 .tags:hover{
     border-color: #c5c5c5;
}
 .layout-4-column{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}
 .portfolio__img{
     width: calc(25.5% - 20px);
	 height: auto;
     align-items: center;
     margin-bottom: 20px;
     overflow: hidden;
}
 .portfolio__img:nth-last-child(-n + 4){
     margin-bottom: 3px;
}
 .portfolio__img img{
     width: 100%;
     height: 100%;
}
 .layout-4-column >:nth-child(n + 13){
     display: none;
}
.img_active{
	border: 5px solid #F06C64;
}
/*
 #Project1{
     object-position: -8px -11px;
}
 #Project2{
     object-position: -82px -43px;
}
 #Project3{
     object-position: -11px -1px;
}
 #Project4{
     object-position: -23px -3px;
}
 #Project5{
     object-position: -10px -15px;
}
 #Project6{
     object-position: -16px -4px;
}
 #Project7{
     object-position: -31px -39px;
}
 #Project8{
     object-position: -24px -31px;
}
 #Project9{
     object-position: -16px -3px;
}
 #Project10{
     object-position: -140px -113px;
}
 #Project11{
     object-position: -143px -176px;
}
 #Project12{
     object-position: -36px -60px;
}*/
/*About Us*/
 .about-us{
     background-color: #f2f2f2;
}
 .about-us:after{
     content: '';
     display: block;
     width: 100%;
     max-width: 1020px;
     height: 6px;
     background-color: #ffffff;
}
 .wrapper-text-about{
     margin-bottom: 43px;
}
 .employee{
     width: calc((100% - 40px)/3);
     margin-bottom: 5px;
}
 .about-us__title{
     color: #767e9e;
     margin-bottom: 13px;
}
 .employee__img{
     padding: 0px 0 14px;
}
 .employee__img img{
     width: 100%;
     height: auto;
}
 .employee__text{
     font-size: 1.2rem;
     color: #767e9e;
     font-family: "Lato";
     font-weight: 400;
     line-height: 20px;
     text-align: justify;
     margin-bottom: 22px;
}
 .social-icons{
     display: flex;
     justify-content: start;
}
 .icons {
     width: 32px;
     height: 32px;
     border: 1px solid #666d89;
     border-radius: 50%;
     margin-right: 8px;
}
 .icons:last-child{
     margin-right: 0;
}
 .icons:hover{
     cursor: pointer;
}
 .icons__fb{
     background: url(assets/img/social/facebook2.svg)no-repeat;
     background-position: 50%;
}
 .icons__google{
     background: url(assets/img/social/google1+.svg)no-repeat;
     background-position: 50%;
}
 .icons__twitter{
     background: url(assets/img/social/twitter1.svg)no-repeat;
     background-position: 50%;
}
 .icons__linkedin{
     background: url(assets/img/social/linkedin1.svg)no-repeat;
     background-position: 50%;
}
/*Get a Quote*/
 .contact{
     background: #f06c64;
}
 .contact:after{
     content: '';
     display: inline-block;
     width: 100%;
     max-width: 1020px;
     height: 6px;
     background-color: #ea676b;
}
 .contact__title{
     color: #f0d8d9;
     margin-bottom: 43px;
}
 .wrapper-text-contact h2{
     color: #f0d8d9;
}
 .layout-2-column{
     display: flex;
     justify-content: space-between;
}
 .contact__information h3{
     color: #f0d8d9;
     margin-bottom: 5px;
}
 .contact__form{
     margin-right: 23px;
}
 .contact__information{
     font-size: 1.2rem;
     line-height: 22px;
     color: #f0d8d9;
     width: 37%;
}
 .wrapper-contact__information{
     margin-top: 21px;
}
 .location:before{
     content: '';
     display: inline-block;
     width: 21px;
     height: 10px;
     background: url(assets/img/social/location.svg)no-repeat;
}
 .email:before{
     content: '';
     display: inline-block;
     width: 21px;
     height: 10px;
     background: url(assets/img/social/mail.svg)no-repeat;
}
 .phone:before{
     content: '';
     display: inline-block;
     width: 21px;
     height: 10px;
     background: url(assets/img/social/phone.svg)no-repeat;
}
 *:focus {
     outline: none;
}
 figure input{
     border-radius: 5px;
     background: #d6564f;
     width: 100%;
     border: none;
     margin-bottom: 15px;
     color: #f48c8f;
     font-size: 1.2rem;
     font-family: "Lato";
     font-weight: 400;
     padding: 12px 0 12px 15px;
}
 figure input::placeholder, textarea::placeholder{
     opacity: 1;
     transition: opacity 0.7s ease;
}
 figure input:focus::placeholder, textarea:focus::placeholder{
     opacity: 0;
     transition: opacity 0.7s ease;
}
 figure input:focus{
     border: 1px solid #f48c8f;
}
 textarea{
     border-radius: 5px;
     background: #d6564f;
     width: 100%;
     border: none;
     color: #f48c8f;
     font-size: 1.2rem;
     font-family: "Lato";
     font-weight: 400;
     padding: 10px 15px;
     margin-bottom: 15px;
     resize: none;
}
 .contact__button{
     border-radius: 5px;
     background: #d6564f;
     width: 100%;
     border: 1px solid #d6564f;
     margin-bottom: 15px;
     color: #f48c8f;
     font-size: 1.8rem;
     font-family: "Lato";
     font-weight: 400;
     padding: 10px 0 10px 15px;
     cursor: pointer;
}
 .contact__button:hover{
     border: 1px solid #f48c8f;
     color: #f48c8f;
}
 ::placeholder{
     color: #f48c8f;
}
 .link{
     text-decoration: none;
}
 .contact__phon, .contact__email{
     color: #f0d8d9;
}
/*Footer*/
 footer{
     background: #2d303a;
}
 .layout-2-column{
     display: flex;
     justify-content: space-between;
}
 .wapper-footer{
     padding-top: 25px;
     padding-bottom: 25px;
}
 .copiright{
     color: #626984;
     font-size: 1.2rem;
     padding-top: 7px;
}
.modal{
	background: #f2f2f2;
	height: 50%;
    box-shadow: 0px 0px 15px 4px #2d303a;
    width: 50%;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 20;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
}
.modal > p{
	color: #767e9e;
    margin-bottom: 13px;
    font-size: 1.8rem;
    font-family: "Lato";
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}
.modal > button{
	color: #767e9e;
    margin-bottom: 13px;
    font-size: 1.8rem;
    font-family: "Lato";
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin: auto;
    padding: 0px 50px;
	border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px 2px #ccc;
    border: none;
}
.hint-name, .hint-email{
	display: none;
}
.hint_active{
	display: inline-block;
	font-size: 1.2rem;
    font-family: "Lato";
    font-weight: 400;
    line-height: 22px;
    text-align: justify;
	color: #f0d8d9;
}


/*responsive*/

@media (min-width: 768px) and (max-width: 1019px){
	.services .layout-3-column >*{
		flex-basis: 47%;
	}
	.portfolio__img{
		width: calc(100%/3 - 12px);
	}
}

@media   (max-width: 767px){
	.wrapper{
		padding: 40px 30px;
	}
	.large{
		display: none;
	}
	.header__wrapper{
		flex-direction: row-reverse;
	}
	.mobile{
		display: flex;
	}
	.mobile .logo{
		margin: auto;
		padding-left: 30px;
	}
	.logo__text{
		font-size: 2rem;
		line-height: 24px;
		font-weight: normal;
	}
	.logo__text{
		transition: all 0.4s ease-in-out;
	}
	.hamburger{
		display:inline-block;
		position:relative;
		width: 25px;
		height: 20px;
		cursor: pointer;
	}
	.hamburger__line{
		display: inline-block;
		position: absolute;
		background: #fff;
		border-radius: 5px;
		width: 100%;
		height: 2.4px;
		top: calc(50% - 1.2px);
		left: 0;
	}
	.hamburger:before{
		content: '';
		display: inline-block;
		position: absolute;
		background: #fff;
		border-radius: 5px;
		width: 100%;
		height: 2.4px;
		top: 0px;
		left: 0px;
	}
	.hamburger:after{
		content: '';
		display: inline-block;
		position: absolute;
		background: #fff;
		border-radius: 5px;
		width: 100%;
		height: 2.4px;
		bottom: 0;
		left: 0px;
	}
	.menu-disable{
		display: none;
		transition: all 0.4s ease-in-out;
	}
	.menu-enable{
		display: inline-block;
		padding-left: 30px;
		transition: all 0.4s ease-in-out;
	}
	.hamburger-active{
		transform: rotate(90deg);
		transition: all 0.4s ease-in-out;
	}
	.menu-active {
		width: 278px;
		position: absolute;
		height: 100vh;
		background: #2d303a;
		left: 0;
		top: 0;
		padding-top: 25px;
		padding-left: 30px;
		box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
	}
	.navigation__items{
		padding-top: 180px;
		padding-left: 50px;
	}
	.navigation__item{
		padding-top: 0;
		padding-left: 0;
		padding-bottom: 27px;
	}
	.navigation__item:last-chld{
		padding: 0;
	}
	.header__wrapper{
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.layout-3-column >*{
		flex-basis: 98%;
	}
	.wrapper-text-services{
		margin-bottom: 10px;
	}
	.services-item {
		justify-content: start;
	}
	.layout-4-column >:nth-child(n + 9){
		display: none;
	}
	 .portfolio__img{
		 width: calc(50% - 10px);
	 }
	 .portfolio__img:nth-last-child(-n + 2){
		margin-bottom: 8px;
	}
	 
	.employee{
		width: 100%;
		margin-bottom: 35px;
	}
	.employee:last-child{
		margin-bottom: 0;
	}
	.layout-2-column {
		flex-wrap: wrap;
	}
	.contact__form {
		margin-right: 0;
	}
	.contact__information{
		width: 100%;
	}
	.wapper-footer {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.layout-2-column{
		justify-content:center;
	}
	.copiright{
		display: none;
	}
	.darken{
		background:rgba(45,48,58, 0.6);
		opacity: 0.6;
		z-index: 5;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		display: none;
	}
	.darken-active{
		display: block;
	}
}	

 